node_modules/
.env
app.db
cookies.txt
usuarios-cadastrados.xlsx
.env
sessions.db
admin-cookies.txt
cookies.txt

server-antes-*.js
public/index-antes-*.html
public/index-backup.html
public/index-quebrado.html
public/index-login-ok.html
public/index-com-grupos-ok.html

adicionar-*.js
ajustar-*.js
alterar-*.js
animacao-*.js
aplicar-*.js
carrossel-*.js
corrigir-*.js
criar-*.js
intro-*.js
ranking-*.js
remover-*.js
trocar-*.js
mobile-app-final.js